<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

    <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="index.html">Solid State</a></h1>
            <nav>
                <a href="signup">Sign Up</a>
            </nav>
        </header>
        
        <!-- Banner -->
        <section id="banner" class="d-flex justify-content-center">
            <div class="inner">
                <header id="header" class="alt">
                    Sardar Patel Institute of Technology
                </header>
                   <div class="container" id="login_div" style="top:1px;" >
                        <ul class="buttons stacked">
                        <footer>
                        <ul>
                        <label><h2>TWENTY</h2></label>
                        <h1>WELCOME</h1>
                        <label><strong>Skill Eagle</strong>, for additional Courses
						</label>
                    
                        <!--     <div class="col-md-9 col-md-offset-9">
                                <a href="#main" class="button fit scrolly">Tell Me More</a>
                        </div>-->
                        </ul>
						</footer>
    				    </ul>
                    </div>
            </div>
        </section>

   
            <!-- Wrapper -->
        <section id="wrapper">

        <!-- One -->
            <section id="one" class="wrapper spotlight style1">
                <div class="inner">
                    <a href="login" class="image"><img src="assets/studnet.jpg" alt="" /></a>
                    <div class="content">
                        <h2 class="major">STUDENT LOGIN</h2>
                        <p>LOGIN IN and choose the enrol to the extra credited courses of our college and get updates</p>
                        <a routerLink="/login"><button class="btn btn-success" >Student Login </button></a>
                    </div>
                </div>
            </section>

            <!-- Two -->
            <section id="two" class="wrapper alt spotlight style2">
                <div class="inner">
                    <a href="login" class="image"><img src="assets/admin.png" alt="" /></a>
                    <div class="content">
                        <h2 class="major">Admin Login</h2>
                        <p>Admin will keep the students updated about the course enrolment and manage the course enrollments and payments</p>
                        <a routerLink="/login"><button class="btn btn-success" >Admin Login </button></a>
                    </div>
                </div>
            </section>
        </section>
        
        <section id="footer">
            <div class="inner">
                <h2 class="major">Get in touch</h2>
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" />
                </div>
                <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="4"></textarea>
                        <br/><br/>
                </div>
                <ul class="d-flex justify-content-end">
                    <input type="submit"  value="Send Message" />
                </ul>
                
                <div class="icon solid fa-home">
                    Address:
                    <div class="d-flex justify-content-center"> 
                        Bhavans Campus<br/> Old D N Nagar<br/>  Andheri West<br/> Maharashtra 400058
                </div>
                </div>
            <ul class="copyright">
                <li>&copy; Untitled Inc. All rights reserved.</li>
            </ul>
            </div>
        </section>
</div>
</body>